.filter__button {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;

  &:hover{
    border: 1px solid #B672FF;
    color: #B672FF;
  }
}

.filter__modal {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  margin-top: 10px;
  flex-direction: column;
  max-height: 305px;
  width: 250px;
  gap: 28px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #313131;
  padding: 34px;
  border-radius: 8px;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}