*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-montserrat);
  color: #fff;
  
  
}

h1, h2, h3, h4, h5, h6, P{
  margin: 0;
}

button, input, a{
  font-family: var(--font-montserrat);
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}