.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Глобальные утилиты */
.btn {
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

.btnIcon:active .trackPlay__likeSvg,
.btnIcon:active .trackPlay__dislikeSvg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.volume__progress {
  width: 109px;
  display: flex;
  align-items: center;
}

.volume__progressLine {
  width: 100%;
  height: 2px;
  appearance: none;
  background: #797979;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volume__progressLine::-webkit-slider-runnable-track {
  height: 2px;
  background: #797979;
  border-radius: 5px;
}

.volume__progressLine::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  margin-top: -7px;
}