.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.bar__content {
  display: flex;
  flex-direction: column;
}

.bar__playerProgress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
}

.bar__playerBlock {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar__player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.player__controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.player__btnPrev,
.player__btnNext {
  padding: 5px;
  display: flex;
  align-items: center;
}

.player__btnPrev {
  margin-right: 23px;
}

.player__btnPrevSvg {
  width: 15px;
  height: 14px;
}

.player__btnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.player__btnNext {
  margin-right: 28px;
}

.player__btnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.player__btnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.player__btnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.player__trackPlay {
  display: flex;
  flex-direction: row;
}

.trackPlay__contain {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "image author"
    "image album";
  align-items: center;
}

.trackPlay__image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  grid-area: image;
}

.trackPlay__svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.trackPlay__author {
  grid-area: author;
  min-width: 49px;
}

.trackPlay__authorLink {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.trackPlay__album {
  grid-area: album;
  min-width: 49px;
}

.trackPlay__albumLink {
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.trackPlay__dislike {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 26%;
}

.trackPlay__likeSvg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.trackPlay__dislikeSvg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.bar__volumeBlock {
  display: flex;
  align-items: center;
  padding-right: 92px;
}

.volume__content {
  display: flex;
  align-items: center;
  justify-content: end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  width: 13px;
  height: 18px;
  fill: transparent;
}
